body{
  background-color: #BAB86C;
}
#grid{
  display: grid;
  grid-template-columns: 150px 1fr;
}
#grid1{
  background-color: white;
  font-family: 'Alkalami', serif;
}
#grid1 ul{
  color: gray;
  font-size: 1.25em;
}
#grid1 a{
  color: gray;
  font-size: 1em;
}
#grid2{
  font-family: 'Lobster', cursive;
  padding-left: 15px;
  padding-top: 10px;
  font-size: 1.2em;
}
#grid2{
  color: #3A3B3C;
  padding-left: 15px;
  padding-top: 10px;
}
div{
  border: 1px solid white;
}
img{
  width: 40%;
}
iframe{
  margin-top: 20px;
}
.maincategory{
  text-shadow: 2px 2px #FAF0DD;
}
