.nav {
  list-style-type: none;
  margin: auto;
  padding: 0;
  background-color: white;
  display: flex;
  justify-content: center;
  text-align: center;
}
.nav li {
  float: left;
}
.nav a{
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Alkalami', serif;
  font-size: 20px;
}
li a:hover {
  background-color: darkgray;
}
.active {
  background-color: darkgray;
}
img{
  width: 40%;
  margin-bottom: 0.5em;
}
iframe{
  margin-top: 20px;
}
.maincategory{
  text-shadow: 2px 2px #FAF0DD;
  font-size: 2em;
  margin-bottom: 0.5em;
  margin-top: 0.5em;
}
body{
  background-color: #BAB86C;
  font-family: 'Lobster', cursive;
  font-size: 1.5em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}
