.nav {
  list-style-type: none;
  margin: auto;
  padding: 0;
  background-color: white;
  display: inline-block;
  text-align: center;
}
.nav li {
  float: left;
}
.nav a{
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Alkalami', serif;
  font-size: 20px;
}
li a:hover {
  background-color: darkgray;
}
.active {
  background-color: darkgray;
}
img{
  width: 130px;
}
iframe{
  margin-top: 20px;
}
.maincategory{
  text-shadow: 2px 2px #AF9B60;
  font-size: 1.4em;
  font-weight: bold;
  margin-bottom: 0.5em;
  margin-top: 0.9em;
}
body{
  background-color: #FFF380;
  font-family: 'Times New Roman', serif;
  font-size: 1.3em;
  margin-left: 1em;
  margin-right: 1em;
  margin-bottom: 1em;
}
#yejin{
  float: right;
  margin-right: 25px;
  margin-top: 50px;
}
#yejin img{
  border-radius: 15%
}
